<div id="login" fxLayout="row" fxLayoutAlign="center center">
  <!-- card -->
  <div fxLayout="column" fxFlex="500px" class="card-wrap mat-elevation-z2">
    <div class="header-card" fxFlex="15%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <!-- <mat-icon style="font-size: 200%;color: #fff">account_circle
      </mat-icon> -->
      <span style="font-size: 200%;color: #fff">Login</span>

    </div>
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">
      <form fxLayout="column" fxLayoutAlign="center " fxFlex="90%" [formGroup]="loginFrom">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Login</mat-label>
          <input type="text" formControlName="userName" matInput placeholder="Login">
          <mat-icon matSuffix>lock
          </mat-icon>
          <mat-error *ngIf="!!loginFrom.get('userName').invalid">Login requared ! </mat-error>

        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>PassWord</mat-label>
          <input formControlName="passWord" type="password" matInput placeholder="Password">
          <mat-icon matSuffix>vpn_key
          </mat-icon>
          <mat-error *ngIf="!!loginFrom.get('passWord').invalid">password requared ! </mat-error>

        </mat-form-field>
      </form>
    </div>
    <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <button [disabled]="loginFrom.invalid" mat-raised-button color="primary" fxFlex="20%"
        (click)="login()">Login</button>
      <button mat-raised-button fxFlex="20%">Annuler</button>
    </div>
  </div>

</div>
